/*************************
*       REM reset        *
**************************/

:root {
  font-size: 62.5%;
}

/*************************
*     element reset      *
**************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
