body {
  background-color: #edeef0;
  display: flex;
  justify-content: center;
}

.container {
  margin: 1.6rem;
  max-width: 114rem;
}

/* ----------
CONTACT CARD
--------------*/

.contact-btns-container {
  margin-top: 1.6rem;
  display: flex;
  gap: 1.6rem;
}

.coffee-cup {
  font-size: 4rem;
}

/* ----------
CONTACT CARD
--------------*/

#contact-card-sm {
  display: none;
}

/* ----------
TIMELINE CARD
--------------*/

.h2--no-margin {
  margin-bottom: 0;
}

/* ----------
PROJECT CARDS
--------------*/

/* full sized image in project carousel card */
.img-container {
  background-position: 50%;
  flex-grow: 1;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

#wfn-card--2 .img-container {
  background-image: url(../../imgs/wfn-mockup2-min.jpg);

  /* Using @supports, we can test whether or not a browser supports a given declaration before using it. */
  /* https://www.js-craft.io/blog/css-fallbacks-for-webp-background-images-with-supports/ */
  @supports (background-image: url("../../imgs/wfn-mockup2.webp")) {
    background-image: url("../../imgs/wfn-mockup2.webp");
  }
  background-size: cover;
}

#inf-card--2 .img-container {
  background-image: url(../../imgs/1nf-mockup-min.png);

  @supports (background-image: url("../../imgs/1nf-mockup.webp")) {
    background-image: url("../../imgs/1nf-mockup.webp");
  }
  /* max-width: 85%; */
}

#sesh-card--2 .img-container {
  background-image: url(../../imgs/sesh-mockup-2-1000-min.png);
  @supports (background-image: url("../../imgs/sesh-mockup-2-1000.webp")) {
    background-image: url("../../imgs/sesh-mockup-2-1000.webp");
  }
}

#sesh-card--3 .img-container {
  background-image: url(../../imgs/sesh-mockup-3-min.png);
  @supports (background-image: url("../../imgs/sesh-mockup-3.webp")) {
    background-image: url("../../imgs/sesh-mockup-3.webp");
  }
}

#a-live-card--2 .img-container {
  background-image: url(../../imgs/alive-mockup-2-min.png);
  @supports (background-image: url("../../imgs/alive-mockup-2.webp")) {
    background-image: url("../../imgs/alive-mockup-2.webp");
  }
  max-width: 82%;
}
